.bgc-blue {
  background-color: #29bde0;
}
.bgc-yellow {
  background-color: #fab344;
}
h5 {
  font-weight: normal;
}
input {
  outline: none;
}
@media only screen and (max-width: 320px) {
  html {
    font-size: 40px;
    /* 15.04÷16=94% */
  }
}
@media only screen and (min-width: 320px) {
  html {
    font-size: 50px;
    /* 15.04÷16=94% */
  }
}
@media only screen and (min-width: 481px) {
  html {
    font-size: 60px;
    /* 17.44÷16=109% */
  }
}
@media only screen and (min-width: 561px) {
  html {
    font-size: 80px;
    /* 20÷16=125% */
  }
}
@media only screen and (min-width: 640px) {
  html {
    font-size: 100px;
    /* 20÷16=125% */
  }
}
body {
  font-size: 0.34rem;
}
.container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  background-color: #29bde0;
}
.header {
  padding: 0 0.2rem;
  line-height: 0.6rem;
  display: flex;
  color: #fff;
  border-bottom: 0.02rem solid #74d4eb;
}
.header h4 {
  flex: 1;
  font-size: 0.34rem;
}
.header .iconfont {
  font-size: 0.34rem;
}
.main {
  padding: 0.86rem 0;
}
.show-id-wrap {
  position: relative;
  width: 100%;
  max-width: 4.6rem;
  margin: 0 auto;
  height: 6.5rem;
  border: 0.08rem solid #fff;
  background-color: #ffedc5;
}
.show-id-wrap .id-num {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: #fff;
  line-height: 0.7rem;
  color: #f56b81;
}
.show-id {
  position: absolute;
  z-index: 100;
  width: 100%;
  left: 0;
  top: 0;
  height: 6.5rem;
  line-height: 6.5rem;
}
.show-id img {
  vertical-align: middle;
  width: 3.01rem;
  max-width: 100%;
  height: auto;
}
.id-infor-detail {
  display: none;
  box-sizing: border-box;
  height: 6.5rem;
  padding-top: 0.58rem;
}
.id-infor-detail h6 {
  font-size: 0.4rem;
  line-height: 0.6rem;
}
.id-infor-detail img {
  max-width: 2.22rem;
  width: 100%;
  height: auto;
}
.id-infor-detail .infor-role {
  color: #29bde0;
}
.id-infor-detail .infor-word {
  color: #f56b81;
  margin-bottom: 0.2rem;
}
.id-infor-detail .line {
  display: block;
  height: 0.02rem;
  background-color: #fff;
}
.id-infor-detail .game-tips {
  padding: 0.26rem;
  font-size: 0.26rem;
  color: #fab344;
  text-align: left;
}
.footer {
  padding: 0 0.76rem 0.6rem 0.76rem;
}
.footer button {
  width: 100%;
  display: inline-block;
  outline: none;
  border: 0;
  background-color: #fab344;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  font-size: 0.4rem;
  line-height: 0.9rem;
  box-shadow: 0 0 0.02rem 0.04rem rgba(251, 180, 53, 0.4) inset, 0 0.02rem 0 rgba(0, 0, 0, 0.3);
}
.footer button:active {
  box-shadow: 0 0 0.02rem 0.04rem rgba(251, 180, 53, 0.4) inset;
  position: relative;
  top: 1px;
}
