input {
  outline: none;
}
::-webkit-scrollbar {
  width: 1px;
}
@media only screen and (max-width: 320px) {
  html {
    font-size: 40px;
    /* 15.04÷16=94% */
  }
}
@media only screen and (min-width: 320px) {
  html {
    font-size: 50px;
    /* 15.04÷16=94% */
  }
}
@media only screen and (min-width: 481px) {
  html {
    font-size: 60px;
    /* 17.44÷16=109% */
  }
}
@media only screen and (min-width: 561px) {
  html {
    font-size: 80px;
    /* 20÷16=125% */
  }
}
@media only screen and (min-width: 640px) {
  html {
    font-size: 100px;
    /* 20÷16=125% */
  }
}
body {
  font-size: 0.34rem;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  background-color: #29bde0;
}
.header {
  display: flex;
  padding: 0 0.2rem;
  line-height: 0.6rem;
  color: #fff;
}
.header h4 {
  flex: 1;
  font-size: 0.34rem;
}
.header .iconfont {
  font-size: 0.34rem;
}
.main {
  position: relative;
  padding: 0.6rem 0;
  border-top: 0.02rem solid #74d4eb;
  border-bottom: 0.02rem solid #74d4eb;
}
.main .icon-audio-play {
  position: absolute;
  top: 0.26rem;
  right: 0.5rem;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  border: 0.02rem solid #fff;
}
.main .icon-audio-play:after {
  display: block;
  width: 0;
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0.24rem;
  border-left: 0.22rem solid #ffffff;
  border-top: 0.14rem solid transparent;
  border-bottom: 0.14rem solid transparent;
  border-right: 0;
}
.main .img-deadman-cry {
  width: 100%;
  max-width: 2.6rem;
  height: auto;
}
.identity-results {
  margin-top: 0.5rem;
}
.identity-results li {
  font-size: 0.28rem;
  line-height: 0.32rem;
  color: #fff;
}
.footer {
  padding: 0.36rem 0.72rem;
}
.footer .link-vote {
  display: inline-block;
  outline: none;
  border: 0;
  background-color: #fab344;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  font-size: 0.4rem;
  line-height: 0.9rem;
  box-shadow: 0 0 0.02rem 0.04rem rgba(251, 180, 53, 0.4) inset, 0 0.02rem 0 rgba(0, 0, 0, 0.3);
}
.footer .link-vote:active {
  box-shadow: 0 0 0.02rem 0.04rem rgba(251, 180, 53, 0.4) inset;
  position: relative;
  top: 1px;
}
.discuss-route-wrap {
  padding: 0 0.4rem;
}
.discuss-route-wrap h6 {
  border-radius: 0.05rem;
  background-color: #24a7c6;
  font-size: 0.34rem;
  line-height: 0.6rem;
  color: #fff;
}
.icon-down-tree {
  margin-bottom: 0.1rem;
  font-size: 0;
}
.icon-down-tree .icon-trapezoid {
  display: inline-block;
  height: 0;
  width: 0.5rem;
  border-top: 0.2rem solid #fab344;
  border-left: 0.25rem solid transparent;
  border-right: 0.25rem solid transparent;
}
.icon-down-tree .icon-trangle {
  display: inline-block;
  width: 0;
  border-top: 0.46rem solid #fab344;
  border-left: 0.55rem solid transparent;
  border-right: 0.55rem solid transparent;
}
