html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
.wrap {
  display: flex;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  flex-direction: column;
}
.wrap .row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.wrap .row .box {
  flex: 0 0 32%;
  background-color: #e78326;
  border-radius: 5px;
}
.wrap .row .box:after {
  display: block;
  content: "";
  padding-top: 100%;
}
.wrap .control button {
  margin-bottom: 5px;
  width: 100%;
  display: inline-block;
  outline: none;
  border: 0;
  background-color: #fff;
  color: #e78326;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #e78326;
  line-height: 32px;
}
.wrap .control button:hover {
  background-color: #e78326;
  color: #fff;
}
